@model WzorceGameShop.Models.Bill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Summary Price: 
        </dt>
        <dd class = "col-sm-10">
            @Model.SummaryPrice
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
